# python3 -m venv --system-site-packages .venv
# sudo apt update
# sudo apt install python3-picamera2

# pip install "ultralytics[export]" openvino
# yolo export model=path/to/your_model.pt format=openvino half=True

torch>=2.0.0
torchvision>=0.15.0
ultralytics>=8.0.0
onnxruntime
numpy<2.0.0
pillow>=9.0.0
opencv-python>=4.8.0

picamera2
boto3                
python-dotenv        
requests             
loguru             
pydantic            
onnxruntime
faiss-cpu
openvino